/* selected link red */
#header-nav a:active {
	background-color: #d8232a;
	color: #fff;
}
/* mouse over link dark color #3f444e */
#header-nav a:hover {
	background-color: #262c38;
	color: #fff;
}
/* !IMPORTANT ONNLY ADD THIS CLASS TO ACTIVE PAGE LINK (COLOR #d8232a) */
.activePage a {
	color: #fff;
	background-color: #d8232a;
}

#header-nav a {

}
#header-nav {
	text-align: center;
	
}

.nav-pills li {
	margin-right:0px;
}