/* selected link red */
#header-nav a:active {
	background-color: #d8232a;
	color: #fff;
}
/* mouse over link dark color #3f444e */
#header-nav a:hover {
	background-color: #262c38;
	color: #fff;
}
/* !IMPORTANT ONNLY ADD THIS CLASS TO ACTIVE PAGE LINK (COLOR #d8232a) */
.activePage a {
	color: #fff;
	background-color: #d8232a;
}

#header-nav a {

}
#header-nav {
	text-align: center;
	width: auto;
	padding-right:0px;
	margin-left: auto;
	
}

.nav-pills li {
	margin-right:0px;
}
.header_right{
	text-align: right;
	margin-left:auto;
	margin-right:0px;
}
ul.header_right_box {
	margin-left: 0px;
	margin-right:0px;
}
.nav-pills {
	padding-left: 25px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
