/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4,
h5,
h6,
h1,
h2,
h3
{
    margin-top: 0;
}
ul,
ol
{
    margin: 0;
}
p
{
    margin: 0;
}
html,
body
{
    font-family: 'Roboto Condensed', sans-serif;

    background: #3f444e;
}
body a
{
    -webkit-transition: .5s all;
       -moz-transition: .5s all;
        -ms-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;
}
.container_wrap
{
    padding: 5em 0;
}
.header_top
{
    padding: 2em 1em 1.8em;

    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    background: #fff;

       -moz-border-top-left-radius: 3px;
         -o-border-top-left-radius: 3px;
       -moz-border-top-right-radius: 3px;
         -o-border-top-right-radius: 3px;
}
.logo
{
    margin-top: 4px;
}
/*---social-icons-----*/

.nav ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.nav li
{
    display: inline-block;

    margin: 0 4% 0 0;
}
.nav li a
{
    display: inline-block;
}
.nav li a:hover
{
    zoom: 1;

    -webkit-transition: opacity .15s ease-in-out;
       -moz-transition: opacity .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
         -o-transition: opacity .15s ease-in-out;
            transition: opacity .15s ease-in-out;

    opacity: .8;

    filter: alpha(opacity=50);
}
/*--------social simptip--------*/
[data-tooltip]
{
    position: relative;

    display: inline-block;
}
[data-tooltip].simptip-position-bottom:before
{
    border-bottom-color: #d8232a;
}
[data-tooltip].simptip-position-bottom:after
{
    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #d8232a;

         -o-border-radius: 5px;
}
[data-tooltip]:before
{
    position: absolute;

    content: '';

    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before,
[data-tooltip]:after
{
    position: absolute;
    z-index: 999999;

    visibility: hidden;

    opacity: 0;
}
[data-tooltip]:after
{
    font-size: 13px;
    line-height: 11px;

    height: 25px;
    padding: 7px 12px 0;

    content: attr(data-tooltip);
    white-space: nowrap;
    text-transform: uppercase;
}
[data-tooltip]:hover,
[data-tooltip]:focus
{
    background-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after
{
    visibility: visible;

    opacity: 1;
}
.simptip-position-bottom.simptip-movable:before
{
    margin-top: -15px;
}
.simptip-position-bottom.simptip-movable:after
{
    margin-top: -3px;
}
.simptip-position-bottom:before,
.simptip-position-bottom:after,
.simptip-position-top:before,
.simptip-position-top:after
{
    left: 32%;
}
.simptip-position-bottom:before,
.simptip-position-bottom:after
{
    top: 140%;
}
.simptip-position-bottom:after,
.simptip-position-top:after
{
    margin-left: -18px;
}
.simptip-position-right.simptip-movable:before,
.simptip-position-right.simptip-movable:after,
.simptip-position-left.simptip-movable:before,
.simptip-position-left.simptip-movable:after,
.simptip-position-top.simptip-movable:before,
.simptip-position-top.simptip-movable:after,
.simptip-position-bottom.simptip-movable:before,
.simptip-position-bottom.simptip-movable:after
{
    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
         -o-transition: all .1s linear;
            transition: all .1s linear;
}
.simptip-position-bottom.simptip-movable:hover:before,
.simptip-position-bottom.simptip-movable:hover:after
{
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
}

ul.header_right_box
{
    margin: 0 0 0 33%;
    padding: 0;

    list-style: none;
}
ul.header_right_box li
{
    float: left;

    margin: 0 3%;
}
ul.header_right_box li p
{
    font-size: 1.2em;
    font-weight: 600;

    margin-top: 4px;
}
ul.header_right_box li p a
{
    color: #3f444e;
}
ul.header_right_box li p a:hover
{
    text-decoration: none;

    color: #d8232a;
}
i.edit
{
    display: inline-block;

    width: 20px;
    height: 25px;

    background: url(../images/img_sprite.png) -258px -9px;
}
ul.header_right_box li.last
{
    margin-right: 0;
}
/*--slider--*/
/*--- slider-css --*/
.slider
{
    position: relative;
}
.rslides
{
    position: relative;

    overflow: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}
.rslides li
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;

    -webkit-backface-visibility: hidden;
}
.rslides li:first-child
{
    position: relative;

    display: block;
    float: left;
}
.rslides img
{
    display: block;
    float: left;

    width: 100%;
    height: auto;

    border: 0;
}
.caption
{
    position: absolute;
    top: 35%;
    left: 20%;

    width: 56%;

    text-align: center;
}
.caption h3
{
    font-size: 1.8em;
    font-weight: 700;

    text-transform: uppercase;

    color: #fff;
}
ul li a
{
    font-weight: 700;

    color: #3f444e;
}
ul li a:hover
{
    color: #d8232a;
}
.caption p
{
    font-size: .875em;
    line-height: 1.5em;

    margin: 1em 0 1.5em 0;

    text-align: center;

    color: #fff;
}
a.morebtn
{
    font-size: .875em;

    display: block;

    width: 20%;
    margin: 0 auto;
    padding: .8em 0;

    -webkit-transition: .5s all ease;
       -moz-transition: .5s all ease;
        -ms-transition: .5s all ease;
         -o-transition: .5s all ease;
            transition: .5s all ease;
    text-transform: uppercase;

    color: #fff;
    background: #3d3d3d;
}
a.morebtn:hover
{
    background: #585686;
}
.callbacks_tabs a:after
{
    font-family: FontAwesome;
    font-size: 0;

    display: block;
    display: inline-block;
    visibility: visible;

    width: 12px;
    height: 12px;

    content: '\f111';

    border-radius: 50px;
    background: #fff;
}
.callbacks_here a:after
{
    border: 2px solid #fd926d;
}
.callbacks_tabs a
{
    visibility: hidden;
}

ul.callbacks_tabs.callbacks1_tabs
{
    position: absolute;
    z-index: 999;
    bottom: 50%;
    left: 0;

    list-style: none;
}
.callbacks_nav
{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;

    overflow: hidden;

    width: 30px;
    height: 117px;
    margin-top: -45px;

    text-decoration: none;
    text-indent: -9999px;

    opacity: .7;
    background: transparent url('../images/arrows.png') no-repeat left top;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.callbacks_nav.next
{
    right: 0;
    left: auto;

    background-position: right top;
}
/*-- responsive-mediaquries --*/
@media(max-width:1024px)
{
    .caption
    {
        top: 31%;
        left: 19%;

        width: 63%;
    }
}
@media(max-width:768px)
{
    .caption
    {
        top: 22%;
        left: 13%;

        width: 70%;
    }
    .caption h3
    {
        font-size: 1.5em;
    }
    a.morebtn
    {
        width: 26%;
    }
    .callbacks_nav
    {
        top: 55%;
    }
}
@media(max-width:640px)
{
    .caption
    {
        top: 12%;
        left: 13%;

        width: 70%;
    }
    .caption h3
    {
        font-size: 1.5em;
    }
    a.morebtn
    {
        width: 30%;
    }
    .callbacks_tabs a:after
    {
        width: 10px;
        height: 10px;
    }
}
@media(max-width:480px)
{
    .caption
    {
        top: 14%;
        left: 13%;

        width: 70%;
    }
    .callbacks_nav
    {
        top: 60%;
    }
    .caption p
    {
        overflow: hidden;

        height: 25px;
        margin: .5em 0;
    }
    .caption h3
    {
        font-size: 1.4em;
    }
    a.morebtn
    {
        font-size: .8em;

        width: 40%;
    }
    .callbacks_tabs a:after
    {
        width: 4px;
        height: 4px;
    }
    ul.callbacks_tabs.callbacks1_tabs
    {
    }
}
@media(max-width:320px)
{
    .caption
    {
        top: 14%;
        left: 13%;

        width: 70%;
    }
    .callbacks_nav
    {
        top: 63%;
    }
    .caption p
    {
        overflow: hidden;

        height: 25px;
        margin: .2em 0;
    }
    .caption h3
    {
        font-size: 1em;
    }
    a.morebtn
    {
        font-size: .8em;

        width: 50%;
        padding: .6em .5em;
    }
    .callbacks_tabs a:after
    {
        width: 4px;
        height: 4px;
    }
    ul.callbacks_tabs.callbacks1_tabs
    {
        bottom: 10px;
        left: 4px;
    }
}
.button
{
    position: absolute;
    z-index: 2;
    top: 58%;
    right: 15%;

    display: block;

    max-width: none;
    margin: 0;

    text-shadow: none;
}
.button a
{
    font-size: 1.2em;
    font-weight: 600;

    padding: 8px 20px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #d8232a;

         -o-border-radius: 5px;
}

/* Bounce To Right */

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal
{
    position: relative;

    display: inline-block;

    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: color;
            transition-property: color;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    vertical-align: middle;

    background: #e1e1e1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-shutter-out-horizontal:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: transform;
            transition-property: transform;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
            transform-origin: 50%;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #3f444e;

         -o-border-radius: 5px;
}
.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active
{
    color: white;
}
.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before
{
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}
.banner_desc
{
    position: absolute;
    z-index: 2;
    top: 90.5%;
    right: 0;

    display: block;

    width: 100%;
    max-width: none;
    margin: 0;
    padding: 10px 15px 5px;

    background: rgba(3, 3, 3, .45);
    text-shadow: none;
}
.grid_1
{
    padding-right: 0!important;
}
ul.list_1,
ul.list_3,
ul.list_4
{
    margin: 0;
    padding: 0;

    list-style: none;
}
ul.list_1 li
{
    font-size: 1.2em;
    font-weight: 600;

    display: inline-block;

    margin-right: 5%;

    text-transform: uppercase;

    color: #fff;
}
span.m_1
{
    font-size: 14px;

    color: #cb242a;
}
span.m_1 img
{
    vertical-align: text-bottom;
}
i.icon1,
i.icon2,
i.icon3
{
    float: left;

    width: 20px;
    height: 20px;
    margin-right: 8%;

    background: url(../images/img_sprite.png) -7px -42px;
}
ul.list_2 li
{
    display: inline-block;

    width: 32%;
    margin-right: 0;
}
ul.list_2 li p,
ul.list_4 li p
{
    float: left;
}
i.icon2
{
    background: url(../images/img_sprite.png) -33px -42px;
}
i.icon3
{
    background: url(../images/img_sprite.png) -60px -42px;
}
.content
{
    padding: 2em;

    background: #edeff0;
}
.search
{
    position: relative;

    float: right;

    margin-bottom: 2em;

    border-top: none;
    border-right: none;
    border-bottom: 1px solid #cacaca;
    border-left: none;
    background: none;
}
.search form input[type='text']
{
    font-size: 1em;
    font-weight: 500;
    font-style: italic;

    width: 76%;
    padding: 3px 0;

    color: #a6a8ab;
    border: none;
    outline: none;
    background: none;
}
.search form input[type='submit']
{
    position: absolute;
    top: 23%;
    right: 8px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border: none;
    outline: none;
    background: url('../images/search.png')no-repeat  3px -2px;
}
h1.m_2
{
    font-size: 1.3em;
    font-weight: 600;

    float: left;

    text-transform: uppercase;

    color: #3f444e;
}
.grid_2 img
{
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

         -o-border-radius: 5px;
}
.caption1
{
    position: relative;
}
ul.list_3
{
    position: absolute;
    top: -184px;
    left: 15px;

    width: 100%;
}
ul.list_3 li p,
ul.list_5 li p
{
    font-size: 1.2em;

    float: left;

    color: #fff;
}
i.icon4
{
    position: absolute;
    top: -184px;
    right: 15px;

    display: inline-block;

    width: 20px;
    height: 20px;

    background: url(../images/img_sprite.png) -85px -46px;
}
i.icon5
{
    float: left;

    width: 20px;
    height: 20px;
    margin-right: 4%;

    background: url(../images/img_sprite.png) -7px -42px;
}
p.m_3
{
    font-size: 1.1em;

    position: absolute;
    top: -30px;

    width: 100%;

    text-align: center;

    color: #fff;
}
.grid_2:hover,
.row_2:hover,
.m_5:hover,
.m_6:hover,
.m_7:hover,
.m_8:hover
{
    -webkit-transition: .5s all;
       -moz-transition: .5s all;
        -ms-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;

    opacity: .8;
}

.grid_3
{
    padding: 0;
}
.grid_4
{
    padding-left: 0;
}

.col-md-6.grid_7
{
    padding-right: 0;
}
.col-md-2.grid_6
{
    padding: 0;
}
.col_1
{
    margin-top: 2em;
}
.col_2
{
    background: #fff;
}
ul.list_4
{
    padding: 1em;
}
ul.list_4 li,
ul.list_6 li
{
    font-size: 1.1em;
    font-weight: 600;

    color: #3f444e;
}
ul.list_4 li,
ul.list_6 li
{
    line-height: 2em;

    display: flex;
}
span.m_4
{
    font-weight: 500;
}
.row_2
{
    margin-top: 2em;
}
ul.list_5
{
    position: absolute;
    top: -160px;
    left: 15px;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}
ul.list_7
{
    top: -208px;
}
i.icon6
{
    top: -160px;
}
i.icon7
{
    top: -208px;
}
.video iframe
{
    min-height: 225px;
    margin-top: 2em;
    padding: 0 15px;
}
.row_5
{
    margin-top: 2em;
}
.col_3
{
    margin-top: 2em;
}
/*--footer--*/

#footer
{
    float: left;
    overflow: hidden;

    width: 100%;
    margin-bottom: 5em;
}
#footer-3d
{
    background-color: #edeff0;
}
#footer-3d
{
    float: left;
    overflow: hidden;

    width: 100%;
    height: 60px;
}

#footer-3d .first-widget-bend
{
    float: left;
    overflow: hidden;

    width: 30%;
    height: 60px;
    margin-left: 30px;

    -webkit-transform: skewX(-45deg);
       -moz-transform: skewX(-45deg);
            transform: skewX(-45deg);
}
.first-widget-bend
{
    background-color: #d8232a;
}
#footer-widgets.gp-footer-larger-first-col
{
    padding: 0;
}
#footer-widgets
{
    background-color: #262c38;
}
#footer-widgets
{
    float: left;
    overflow: hidden;

    width: 100%;
    padding: 50px 0 10px;
}
.gp-container
{
    position: relative;
    z-index: 1;

    margin: 0 auto;
}
.gp-footer-larger-first-col .footer-1
{
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 23px;

    visibility: visible;

    -webkit-transition: opacity .24s ease-in-out;
       -moz-transition: opacity .24s ease-in-out;
            transition: opacity .24s ease-in-out;

    opacity: 1;
    color: #fff;
}
.gp-footer-larger-first-col .footer-1
{
    background-color: #d8232a;
}
.gp-footer-larger-first-col .footer-1
{
    float: left;

    width: 30%;
    margin-right: 7%;
    padding: 30px;
}
.col_1_of_3:first-child
{
    margin-left: 0;
}
.span_1_of_3
{
    width: 19.8%;
}
.col_1_of_3
{
    display: block;
    float: left;

    margin: 4% 0 1% 1.6%;
}
.span_1_of_3 h3
{
    font-size: 1.5em;
    line-height: 1.2;

    margin-top: 0;
    margin-bottom: 15px;

    letter-spacing: -1px;

    color: #fff;
}
ul.first
{
    margin: 0;
    padding: 0;

    list-style: none;
}
ul.first li a
{
    font-size: 15px;
    line-height: 1.8em;

    -webkit-transition: background .5s ease;
       -moz-transition: background .5s ease;
         -o-transition: background .5s ease;

    color: #a0a0a0;
}
ul.first li a:hover
{
    text-decoration: none;

    color: #d8232a;
}

.copy p
{
    font-size: 13px;

    margin-top: 1em;

    color: #fff;
}
.copy p a
{
    color: #d8232a;
}
/*--movie--*/
.movie-test-dark
{
    background-color: #fff;
}
.movie-test
{
    float: left;

    width: 50%;
    margin-bottom: 8px;
}
.movie-test-left .movie__images
{
    float: left;
}
.movie-test .movie__images
{
    position: relative;

    width: 50%;

    border: none;
}

.movie-test .movie-beta__link:after
{
    position: absolute;
    z-index: 19;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: .3s;
            transition: .3s;

    background-color: rgba(255, 255, 255, 0);
}
.movie-test .movie-beta__link:hover:after
{
    background-color: rgba(255, 255, 255, .4);
}

.movie-test .movie__info
{
    position: relative;

    overflow: hidden;

    margin: 0;
    padding: 17px 17px;

    background: #fff;
}
a.movie__title
{
    font-size: 1.1em;
    font-weight: 600;

    color: #000;
}
.movie-test-right .movie__images
{
    float: right;
}
ul.list_6
{
    margin: 0;
    padding: 0;

    list-style: none;
}
p.movie__option a
{
    font-size: 1em;
    font-weight: 500;

    color: #000;
}
.movie_img
{
    margin-bottom: 2em;
}
#flexiselDemo1,
#flexiselDemo3
{
    display: none;
}
.nbs-flexisel-container
{
    position: relative;

    max-width: 100%;
}
.nbs-flexisel-ul
{
    position: relative;

    width: 9999px;
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-align: center;
}
.nbs-flexisel-inner
{
    overflow: hidden;

    margin: 0 auto;
}
.nbs-flexisel-item
{
    line-height: 0;

    position: relative;

    float: left;

    margin: 0;
    padding: 0;

    cursor: pointer;
}
.nbs-flexisel-item > img
{
    position: relative;

    max-width: 350px;
    max-height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;

    cursor: pointer;
}
.grid-flex
{
    font-family: 'Roboto', sans-serif;

    margin: 10px 0 20px 0;
}
.nbs-flexisel-item a
{
    font-size: .8125em;

    text-transform: uppercase;

    color: #000;
}
.nbs-flexisel-item a:hover
{
    color: #555;
}
.nbs-flexisel-item p
{
    font-size: .85em;

    padding-top: 25px;

    color: #000;
}
.nbs-flexisel-item > img
{
    cursor: pointer;

    positon: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right
{
    position: absolute;
    z-index: 100;

    width: 45px;
    height: 45px;
    margin-top: -2em;

    cursor: pointer;
}
.nbs-flexisel-nav-left
{
    left: 0;

    background: url(../images/img-sprite.png) no-repeat -15px -113px;
}
.nbs-flexisel-nav-right
{
    right: 0;

    background: url(../images/img-sprite.png) no-repeat -76px -113px;
}
h1.recent
{
    margin: 1em 0;
    padding: 0 15px;

    color: #000;
}
h2.m_3
{
    margin-bottom: 1em;
    padding: 0 15px;

    color: #000;
}
.down_btn
{
    margin-top: 3em;
}
.btn1
{
    font-size: 1.2em;

    padding: 12px 20px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    outline: none;
    background: #d8232a;
}
.btn1 span
{
    display: inline-block;

    width: 20px;
    height: 20px;
    margin-right: 2%;

    vertical-align: middle;
    text-decoration: none;

    background: url(../images/img_sprite.png) -85px -49px;
}
a.btn1:hover
{
    text-decoration: none;

    color: #fff;
    background: #3f444e;
}
/*--single--*/
.images_3_of_2
{
    float: left;

    width: 37.2%;
    margin-right: 2.6%;
}
.span_3_of_2
{
    width: 59.3333%;
}
.desc1
{
    display: block;
    float: left;
}
.movie_image
{
    position: relative;

    border: 2px solid #d8232a;
}
.movie_rating
{
    font: 16px 'Roboto', sans-serif;
    font-weight: bold;

    position: absolute;
    top: 6px;
    left: 6px;

    width: 47px;
    height: 47px;
    padding-top: 10px;

    text-align: center;

    color: #fff;
    border: solid 3px #fff;
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;
    background-color: #d8232a;
}
.movie_rate
{
    position: relative;

    padding: 20px 17px 19px;

    color: #4c4145;
    border: 2px solid #d8232a;
    border-top: none;
}
.movie .movie__rate .score
{
    display: inline-block;

    padding-left: 15px;
}
.rating_desc
{
    float: left;
}
.rating_desc p
{
    font-size: 1.2em;

    color: #000;
}
/**/
/* ratings */
/**/
.sky-form .rating
{
    font-size: 15px;
    line-height: 27px;

    margin-bottom: 4px;

    color: #404040;
}
.sky-form .rating:last-child
{
    margin-bottom: 0;
}
.sky-form .rating input
{
    position: absolute;
    left: -9999px;
}
.sky-form .rating label
{
    display: block;
    float: right;

    height: -4px;

    cursor: pointer;
}
.sky-form [class^='icon-']
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;

    display: block;
    float: left;

    width: 20px;
    height: 20px;

    background: url('../images/star.png') 0 1px;

    -webkit-font-smoothing: antialiased;
}
/**/
/* checked state */
/**/
.sky-form .radio input + i:after
{
    background-color: #2da5da;
}
.sky-form .checkbox input + i:after
{
    color: #2da5da;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i
{
    border-color: #2da5da;
}
.sky-form .rating input:checked ~ label
{
    display: -webkit-box;

    color: #2da5da;
    background: url('../images/star.png') 0 -16px;
}
p.movie_option
{
    font-size: 15px;

    margin-bottom: 15px;
}
p.movie_option a
{
    color: #555;
}

p.m_4
{
    font-size: 1em;
    line-height: 1.8em;

    margin: 3em 0;

    color: #888;
}
ul.single_list
{
    margin: 0;
    margin-bottom: 30px;
    padding: 30px 0 0;

    list-style: none;
}
ul.single_list li
{
    padding-bottom: 30px;
}
.title
{
    font-size: 1.1em;
    font-weight: 600;

    margin: 0 0 10px 0;

    color: #000;
}
.title a
{
    color: #000;
}
.title a:hover
{
    text-decoration: none;

    color: red;
}
.list li
{
    padding-bottom: 30px;
}
.data
{
    float: left;

    width: 93.5%;
}
li.middle
{
    margin-bottom: 30px;
    padding: 0 0 0 70px;
}
li.last-comment
{
    margin-bottom: 30px;
    padding: 0 0 0 140px;
}
.data p,
.data-middle,
.data-last p
{
    font-size: 1em;
    line-height: 1.5em;

    color: #999;
}
.preview
{
    float: left;

    width: 5.5%;
    margin-right: 1%;
}
.data-middle
{
    float: left;

    width: 92.5%;
}
.data-last
{
    float: left;

    width: 92.5%;
}
.single h1
{
    font-size: 25px;

    margin: 3em 0 0;

    color: #000;
}
.to input[type='text']
{
    font-size: 1.1em;

    float: left;

    width: 30%;
    margin: 10px 0;
    padding: 10px;

    color: #999;
    border: none;
    outline: none;
    background: #fff;
}
.text input[type='text'],
.text textarea
{
    font-size: 1.1em;

    width: 70%;
    height: 120px;
    margin: 10px 0;
    padding: 10px;

    resize: none;

    color: #999;
    border: none;
    outline: none;
    background: #fff;
}
.form-submit1 input[type='submit']
{
    font-size: 1.1em;
    font-weight: normal;

    display: inline-block;

    padding: 10px 20px;

    cursor: pointer;
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background: #d8232a;
}
.form-submit1 input[type='submit']:hover
{
    background: #3f444e;
}
/*--login--*/
.login-left h3,
.login-right h3
{
    font-size: 1.5em;

    padding-bottom: .5em;

    color: #000;
}
.login-left p,
.login-right p
{
    font-size: 1em;
    line-height: 1.5em;

    display: block;

    margin: 0 0 1.5em 0;

    color: #999;
}
.acount-btn
{
    font-size: 1em;

    display: inline-block;

    padding: 7px 10px;

    -webkit-transition: .5s all;
       -moz-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;
    text-transform: uppercase;

    color: #fff;
    background: #d8232a;
}
.acount-btn:hover,
.login-right input[type='submit']:hover
{
    text-decoration: none;

    color: #fff;
    background: #3f444e;
}
.login-right form
{
    padding: 1em 0;
}
.login-right form div
{
    padding: 0 0 1.5em 0;
}
.login-right span
{
    font-size: .95em;

    display: block;

    color: #999;
}
.login-right input[type='text']
{
    font-size: .8125em;

    width: 96%;
    padding: 10px;

    border: 1px solid #e4e4e4;
    outline-color: #d8232a;

    -webkit-appearance: none;
}
.login-right input[type='submit']
{
    font-size: 1em;

    display: inline-block;

    padding: 7px 10px;

    -webkit-transition: .5s all;
       -moz-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;
    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background: #d8232a;
}
.login-right input[type='submit']:hover
{
    background: #000;
}
a.forgot
{
    font-size: .85em;

    color: #000;
}
h4.title
{
    margin-bottom: .5em;
    padding-bottom: 13px;

    text-transform: uppercase;

    color: #000;
    border-bottom: 1px solid #dfdddd;
}
p.cart
{
    line-height: 1.8em;

    color: #999;
}
/*--register--*/
.register-top-grid h3,
.register-bottom-grid h3
{
    font-size: 1.5em;

    margin: 0;
    padding-bottom: 20px;

    color: #000;
}
.register-top-grid div,
.register-bottom-grid div
{
    float: left;

    width: 48%;
    margin: 10px 0;
}
.register-top-grid span,
.register-bottom-grid span
{
    font-size: 1em;

    display: block;

    color: #999;
}
.register-top-grid input[type='text'],
.register-bottom-grid input[type='text']
{
    font-size: 1em;

    width: 96%;
    padding: .5em;

    border: 1px solid #eee;
    outline-color: #ff5b36;

    -webkit-appearance: none;
}
.checkbox
{
    font-size: 1.1em;
    line-height: 27px;

    margin-bottom: 4px;
    padding-left: 27px;

    cursor: pointer;
}
.checkbox
{
    font-weight: 500;

    position: relative;

    color: #999;
}
.checkbox:last-child
{
    margin-bottom: 0;
}
.news-letter
{
    font-size: .85em;
    font-weight: 600;

    display: block;
    clear: both;

    margin-bottom: 1em;

    -webkit-transition: .5s all;
       -moz-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;
    text-transform: uppercase;

    color: #555;
}
.checkbox i
{
    position: absolute;
    bottom: 5px;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;

    border: 2px solid #d2cf99;
    outline: none;
}
.checkbox input + i:after
{
    font: normal 12px/16px FontAwesome;

    top: -1px;
    left: -1px;

    width: 15px;
    height: 15px;

    content: '';
    text-align: center;

    background: url('../images/tick1.png') no-repeat 1px 2px;
}
.checkbox input + i:after
{
    position: absolute;

    -webkit-transition: opacity .1s;
       -moz-transition: opacity .1s;
        -ms-transition: opacity .1s;
         -o-transition: opacity .1s;
            transition: opacity .1s;

    opacity: 0;
}
.checkbox input
{
    position: absolute;
    left: -9999px;
}
.checkbox input:checked + i:after
{
    opacity: 1;
}
.news-letter:hover
{
    color: #00bff0;
}

.register-but form input[type='submit']
{
    font-size: 1em;

    display: inline-block;

    padding: 7px 20px;

    -webkit-transition: .5s all;
       -moz-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;
    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background: #df1f26;
}
.register-but input[type='submit']:hover
{
    background: #3f444e;
}
div.register-bottom-grid
{
    margin-top: 3em;
}
/*--responsive design--*/
@media only screen and (max-width:1024px)
{
    ul.header_right_box
    {
        margin: 0 0 0 17%;
    }
    .banner_desc
    {
        top: 88.5%;
    }
    ul.list_4
    {
        padding: .5em;
    }
    ul.list_4 li,
    ul.list_6 li
    {
        font-size: .95em;
    }
    ul.list_3
    {
        top: -150px;
    }
    i.icon4
    {
        top: -150px;
    }
    ul.list_5
    {
        top: -120px;
        left: 5px;
    }
    i.icon6
    {
        top: -120px;
    }
    p.m_3
    {
        font-size: 1em;

        top: -43px;
    }
    .video iframe
    {
        min-height: 180px;
    }
    .movie-test .movie__info
    {
        padding: 6px 6px;
    }
}
@media only screen and (max-width:920px)
{
    ul.header_right_box
    {
        margin: 0;
    }
    .nav li
    {
        margin: 0 3% 0 0;
    }
    .col-sm-3.header_right
    {
        padding-left: 0;
    }
    ul.header_right_box li
    {
        margin: 0 1%;
    }
    ul.list_1 li
    {
        font-size: 1em;
    }
    .banner_desc
    {
        top: 78.5%;
    }
    .grid_2
    {
        text-align: center;
    }
    .grid_2 img,
    .col_2 img,
    .row_2 img,
    .m_6 img,
    .m_7 img
    {
        display: inline-block;
    }
    ul.list_3,
    ul.list_5
    {
        top: -215px;
        left: 210px;

        width: 30%;
    }
    i.icon4
    {
        top: -215px;
        right: 220px;
    }
    .col_2,
    .row_2,
    .m_6,
    .m_7
    {
        text-align: center;
    }
    .row_2,
    .grid_2
    {
        margin-bottom: 2em;
    }
    .m_7
    {
        margin-top: 2em;
    }
    .nbs-flexisel-item > img
    {
        max-width: 100%;
        max-height: 100%;
    }
    .col-md-9.movie_box
    {
        margin-bottom: 2em;
    }
    .login-right
    {
        margin-top: 3em;
    }
    .login-left h3,
    .login-right h3
    {
        padding-bottom: 0;
    }
    p.text
    {
        display: none;
    }
    .gp-footer-larger-first-col .footer-1
    {
        padding: 20px;
    }
}
@media only screen and (max-width:640px)
{
    ul.header_right_box
    {
        text-align: center;
    }
    ul.header_right_box li
    {
        display: inline-block;
        float: none;
    }
    .logo
    {
        margin: 0 0 10px;

        text-align: center;
    }
    .header_top
    {
        padding: 1em 1em .8em;
    }
    .nav li
    {
        margin: 0 1% 0 0;
    }
    .banner_desc
    {
        top: 73.5%;
    }
    .button
    {
        top: 40%;
    }
    .movie_rate
    {
        padding: 10px 5px 8px;
    }
}
@media only screen and (max-width:600px)
{
    .button a
    {
        font-size: .85em;
        font-weight: 600;

        padding: 6px 10px;
    }
    .banner_desc
    {
        top: 54.5%;

        padding: 5px;
    }
    ul.list_1 li
    {
        font-size: .85em;
    }
    .span_1_of_3
    {
        float: none;

        width: 100%;
    }
    .gp-footer-larger-first-col .footer-1
    {
        float: none;

        width: 100%;
        padding: 10px;
    }
    .footer_box
    {
        padding: 2em;

        text-align: center;
    }
    .movie-test
    {
        float: none;

        width: 100%;
    }
    .content
    {
        padding: 1em;
    }
    h2.m_3
    {
        font-size: 22px;
    }
    h1.recent
    {
        font-size: 22px;
    }
    .images_3_of_2
    {
        float: none;

        width: 100%;
        margin-right: 0;
    }
    .span_3_of_2
    {
        width: 100%;
        margin-top: 2em;
    }
    .desc1
    {
        float: none;
    }
    .to input[type='text']
    {
        width: 45%;
    }
    .text input[type='text'],
    .text textarea
    {
        width: 100%;
    }
    .form-submit1 input[type='submit']
    {
        font-size: 1em;

        padding: 7px 10px;
    }
    .preview
    {
        width: 13.5%;
        margin-right: 2%;
    }
    .data
    {
        width: 83.5%;
    }
    li.middle
    {
        margin-bottom: 0;
        padding: 0 0 0 30px;
    }
    .data-middle
    {
        width: 83.5%;
    }
    li.last-comment
    {
        margin-bottom: 0;
        padding: 0 0 0 60px;
    }
    .data-last
    {
        width: 82.5%;
    }
}
@media only screen and (max-width:320px)
{
    .banner_desc
    {
        display: none;
    }
    .search
    {
        float: right;

        width: 40%;
    }
    h1.m_2
    {
        font-size: 1.1em;

        margin-top: 6px;
    }
    i.icon4
    {
        top: -200px;
        right: 8px;
    }
    ul.list_3,
    ul.list_5
    {
        top: -200px;
        left: 10px;

        width: 30%;
    }
    .grid_7,
    .grid_4,
    .content_right,
    .content_right-box,
    .grid_5,
    .m_6,
    .movie_box,
    .login-left,
    .login-right
    {
        padding: 0;
    }
    .video iframe
    {
        margin-top: 0;
        padding: 0;
    }
    h2.m_3
    {
        font-size: 18px;

        padding: 0;
    }
    .single h1
    {
        font-size: 20px;

        margin: 2em 0 0;
    }
    .to input[type='text']
    {
        width: 48%;
    }
}
.placeholder-img
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    border: 2px solid white;
    background-color: white;
    box-shadow: 10px 10px grey;
}
p address
{
    position: relative;

    float: right;

    width: 50%;
    width: 200px;
    height: 200px;
}


.background-content
{
    height: 362px;
    margin-top: 30px;
    padding-top: 20px;

    color: white;
    background-color: white;
    background-image: url(../images/backgroundnew.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control
{
    width: 50%;
}
.box
{
    padding: 10px;
    padding-left: 20px;
    color: black;
    background-color: white;
    height: 322px;

}
.contact-section
{
    width: 50%;
}
